*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-align: center;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.disp{
  display: flex;
  gap: 20px;
  justify-content: center;
  color:red;
}
.hum, .wind{
  background-color: aqua;
  height: 70px;
  width: 100px;
}

.weathers{
  background-color: lightslategrey;
  height: 200px;
  width:200px;
}